---
import Album from "../components/Album.astro";
import data from "../../data/sample.json";

interface Props {
  albums: (typeof data)["albums"];
}

const { albums } = Astro.props;
---

<ul>
  {
    albums.map((album) => (
      <li>
        <Album {...album} />
      </li>
    ))
  }
</ul>
