---
import data from "../../data/sample.json";

type Props = (typeof data)["albums"][number];

const { artist, title, releaseDate } = Astro.props;
---

<article>
  <h2>{title}</h2>
  <h3>{artist.name}</h3>
  <p>{releaseDate}</p>
</article>

<style>
  article {
    border: 1px solid #f1f1f1;
    padding: 1rem;
    margin: 1rem;
  }
</style>
