---
import { buildTheme } from "../styles/themes";
import { flattenTheme } from "../styles/themeUtils";

const theme = buildTheme("dark", "comfortable");
console.log(theme);
const flattenedTheme = flattenTheme(theme);
console.log(flattenedTheme);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <style define:vars={flattenedTheme}>
      body {
        margin: 0;
        background: var(--colors-bg);
        color: var(--colors-text);
        font-family: system-ui, sans-serif;
      }
    </style>
  </head>

  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
